@import "tailwindcss";
@import "./components.css";

:root {
  --background: azure;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: rgb(9, 97, 252);
  --color-brand-light: rgb(9 97 252 / 8%);
  --color-brand-medium: rgb(9 97 252 / 15%);
  --color-brand-dark: rgb(7, 78, 202);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
